.idea
.DS_Store
**/.DS_Store
.vscode

###> symfony/framework-bundle ###
core/.env
core/public/bundles/
core/var/
core/vendor/
core/.env.local
core/.env.local.php
core/.env.*.local
core/config/secrets/prod/prod.decrypt.private.php
core/public/bundles/
core/var/
core/vendor/
core/.vscode
###< symfony/framework-bundle ###